<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Teste Layout</title>

   <link rel="stylesheet" href="style.css">
</head>
<body>
   <header>BANNER</header>
   <main>

      <!--Preview-->
      <aside id="preview">
         <section>PREVIEW</section>

         <button type="button">Download</button>
      </aside>

      <!--Custom-->
      <section id="custom">

         <!--Tabs-->
         <nav id="tabs-itens">
            <input type="radio" id="tab-corpo" name="tab" checked>
            <label for="tab-corpo"><img src="" alt=""><p>Corpo</p></label>
            <input type="radio" id="tab-olhos" name="tab">
            <label for="tab-olhos"><img src="" alt=""><p>Olhos</p></label>
            <input type="radio" id="tab-camisa" name="tab">
            <label for="tab-camisa"><img src="" alt=""><p>Cabelo</p></label>
            <input type="radio" id="tab-calca" name="tab">
            <label for="tab-calca"><img src="" alt=""><p>Barba</p></label>
            <input type="radio" id="tab-tenis" name="tab">
            <label for="tab-tenis"><img src="" alt=""><p>Camisa</p></label>
            <input type="radio" id="tab-cabelo" name="tab">
            <label for="tab-cabelo"><img src="" alt=""><p>Calca</p></label>
            <input type="radio" id="tab-barba" name="tab">
            <label for="tab-barba"><img src="" alt=""><p>Tenis</p></label>
         </nav>

         <!--Paginas-->
         <section id="paginas-itens">
            <div id="pagina-corpo">
            </div>
            <div id="pagina-olhos">
            </div>
            <div id="pagina-cabelo">

            </div>
            <div id="pagina-barba">

            </div>
            <div id="pagina-camisa">

            </div>
            <div id="pagina-calca">

            </div>
            <div id="pagina-tenis">

            </div>

         </section>

      </section>
   </main>
</body>
</html>